<style>
    .person-image {
        width: inherit;
        height: inherit;
        position: relative;
        
        text-align: center;
    }
    
    img.person {
        min-width: 180px;
        max-width: 220px;
        
        width: inherit;
        position: relative;
        
        left: inherit;
        top: inherit;
        transform: inherit;
        
        border-radius: 5px;
    }
</style>
<table class="people">
    <tr ng-repeat="person in people">
        <td>
            <div class="person-image">
                <img class="person" ng-src="{{ person.imageUrl.substring(0, person.imageUrl.indexOf('.')) }}Original.jpg" />
            </div>
        </td>
        <td class="person-content">
            <h4 class="name">{{ person.name }} <span class="titles"><span class="title" ng-repeat="title in person.titles">{{ title }}<span ng-if="!$last">/</span></span></h4>
            <p class="description" ng-bind-html="person.html"></p>
            <p class="links"><a ng-if="person.email" ng-href="mailto:{{person.email}}">Email</a> <span ng-if="person.cvUrl">/ <a ng-href="/{{ person.cvUrl }}" download="{{ person.cvName }}" target="_blank">CV</a></span></p>
        </td>
    </tr>
</table>