<link rel="stylesheet" type="text/css" href="/content/styles/people.css" />
<table class="people" ng-repeat="person in people">
    <tr>
        <td>
            <div class="person-image">
                <img class="person" ng-src="{{ person.imageUrl }}" />
            </div>
        </td>
        <td class="person-content">
            <h4 class="name" ng-bind="person.name"></h4>
            <div class="titles">
                <p ng-repeat="title in person.titles" ng-bind="title"></p>
            </div>
            <p class="description" ng-bind="person.description"></p>
            <p class="links"><a ng-if="person.email" ng-href="mailto:{{person.email}}">Email</a> <span ng-if="person.cvUrl">/ <a ng-href="/{{ person.cvUrl }}">CV</a></span></p>
        </td>
    </tr>
</table>