<link rel="stylesheet" type="text/css" href="/content/styles/people.css" />
<div ng-controller="PeopleController">
    <table class="people">
        <tr ng-repeat="person in people">
            <td class="person-image">
                <img class="person" ng-src="/{{ person.imageUrl }}" />
            </td>
            <td class="person-content">
                <h4 ng-bind="person.name"></h4><br>
                <p ng-repeat="title in person.titles" ng-bind="title"></p><br>
                <p ng-bind="person.description"></p><br>
                <p><a ng-if="person.email" ng-href="mailto:{{person.email}}">Email</a> <span ng-if="person.cvUrl">/ <a ng-href="/{{ person.cvUrl }}">CV</a></span></p>
            </td>
        </tr>
    </table>
</div>