<link rel="stylesheet" type="text/css" href="content/styles/publications.css" />
<div ng-controller="PublicationsController">
    <div style="text-align: right;">Search: <input style="margin-right: 6px;" type="text" ng-model="search" /></div>
    <div ng-repeat="year in years | orderBy:true:true">
        <hr>
        <h2 class="year" ng-bind="year"></h2>
        <div class="publication" ng-repeat="publication in publicationsFromYear(year) | orderBy:'time':true | filter:search">
            <h3>
                {{ publication.header }}
                <a class="download" ng-href="{{ publication.fileUrl }}" download="{{ publication.filename }}" style="display: inline-block;">
                    [{{ publication.fileType }}]
                </a>
            </h3>
            <p ng-bind-html="publication.html"></p>
        </div>
    </div>
</div>