#content img {
    border-radius: 5px;
    margin-right: 35px;
}

#content img.icon {
    border-radius: 0;
    margin: 0;
}

#content table {
    margin: 0;
}

#content table tr td {
    padding: 5px 0;
}