#content img {
    border-radius: 5px;
}

#home-content {
    margin-top: 30px;
}

.blurb {
    width: 68%;
}

/*table#home-content td:first-of-type {
    vertical-align: top;
    
    padding-top: 30px;
}

.images {
    vertical-align: top;
}*/

.images img {
    display: block;
    
    margin: 25px auto;
    margin-bottom: 40px;
    margin-top: 0px;
}

.images {
    padding-top: 20px;
}