#content img {
    border-radius: 5px;
}

#home-content {
    margin-top: 30px;
}

.blurb h4 {
    color: black;
}

.blurb {
    margin-top: 15px;
}

/*table#home-content td:first-of-type {
    vertical-align: top;
    
    padding-top: 30px;
}

.images {
    vertical-align: top;
}*/

.images {
    padding-top: 20px;
}

#content .images {
    text-align: center;
    
    margin: auto;
    margin-top: 50px;
    
    width: 85%;
}

#content img {
    height: 205px;
}