table.people tr td {
    padding: 0;
}

table.people tr td p {
    margin: 0;
}

table.people {
    margin-top: 25px;
    width: 100%;
}

table tr td.person-content {
    padding-left: 30px;
}

.person-image {
    width: 210px;
    height: 210px;
    overflow: hidden;
    position: relative;
    
    border-radius: 5px;
}

span.title > span {
    margin: 0px 5px;
    
    font-weight: bold;
    
    font-size: 14px;
}

span.titles {
    font-size: 15px;
    
    margin-left: 10px;
    
    color: #666;
    
    position: relative;
    bottom: 0.5px;
}

img.person {
    width: 100%;
    
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#content .titles,
#content .description,
#content .links  {
    margin-top: 5px;
}