table.people tr td {
    padding: 0;
}

table.people tr td p {
    margin: 0;
}

table tr td.person-content {
    padding-left: 30px;
}

td.person-image {
    width: 220px;
    height: 220px;
    overflow: hidden;
    position: relative;
    
    border-radius: 5px;
}

img.person {
    min-width: 100%;
    min-height: 100%;
    
    position: absolute;
    
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}