#content a.download {
    text-decoration: none;
    
    font-size: 15px;
}

#content div.publication h3 {
    margin-bottom: 5px;
}

#content div.publication {
    margin: 8px 0;
    
    font-size: 18px;
}

#content .year {
    margin-bottom: 0px;
    padding-bottom: 0px;
}